{% extends 'cosmetics/base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="mb-4">
        <p class="intro">BeautyBox — ваш надежный магазин косметики!</p>
        <p>Мы предлагаем широкий ассортимент качественных косметических продуктов от ведущих брендов. Наша миссия — помочь вам раскрыть вашу естественную красоту с помощью безопасных и эффективных средств.</p>
        <p>Свяжитесь с нами через страницу <a href="{% url 'contacts' %}">Контакты</a> или посетите наш <a href="{% url 'catalog' %}">Каталог</a>, чтобы выбрать идеальные продукты для ухода.</p>
    </div>
{% endblock %}